body  {	
	background-image: url(http://p1.pichost.me/i/20/1428356.jpg)     ;
	background-size: cover;
	background-repeat: repeat;
}

div {
	text-align: center;
}

li {
	list-style-type: none;
}

a.button {
	background: #5915DA;
	margin: 1% 0 0 0;
	display: inline-block;
	color: #0AFB08;
	font-weight: bold;
	text-decoration: none;
	padding: 0.5% 6%;
	border: 3px solid;
	border-radius: 15px;
	transition: 0.5s;
} 

a.button:hover {
	background: #DA15AE;
}