body {
	background-color: white; 
}

.container {
	width: 1170px;
}


/*---------------------  section_header --------------------*/
header {
	overflow: hidden;
	padding: 31px 0;
}

a {
	font-family: Lato;
	font-size: 24px;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
	color: #333;
	text-decoration: none;
}

.logo a {
	padding-bottom: 11px;
}
img {
	display: block;
	max-width: 100%;
	float: left;
}

header .container {
	padding: 25px 15 px;
}

header .logo {
	text-transform: uppercase;
}

.header-left a {
	color: white;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 700;
	line-height: 15px;
	padding: 0px 10px;
}

.header-left nav ul li a:hover {
	color: #8d81ac;
	transition: 0,5;
}

.header-left
.button {
	background-color: #8d81ac;
	border-radius: 19px;
}

.header-left nav ul li a {
	color: #635c73;
}

.button.small {
    padding: 12px 36px;
    float: right;
}

header nav ul li {
	display: inline-block;
}

nav a {
	color: white;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 700;
	line-height: 15px;
}

a span {
	color: #8d81ac;
}




/*---------------------  section_hero --------------------*/

.hero {
	background-image: url('../img/background1.png');
	background-size: cover;
	text-align: center;
}

.hero h1 {
	color: white;
	font-family: Montserrat;
	font-size: 82px;
	font-weight: 700;
	line-height: 20px;
	padding: 108px 0 18px;
}

.hero p {
	color: #8d81ac;
	font-family: Lato;
	font-size: 30px;
	font-weight: 400;
	line-height: 20px;
	padding-bottom: 18px;
}

.hero span {
	color: #848e97;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
}

/*---------------------  section_editor --------------------*/

.download button {
	width: 256px;
	height: 17px;
	color: white;
	font-family: Montserrat;
	font-size: 21px;
	font-weight: 700;
	line-height: 20px;
	background-color: #8d81ac;
}

.download span {
	color: #848e97;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 15px;
}

.editor h1 {
	color: #635c73;
	font-family: Montserrat;
	font-size: 54px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
}
	
.editor p {
	opacity: 0.8;
	color: #323232;
	font-family: SourceSansPro;
	font-size: 21px;
	font-weight: 400;
	line-height: 32px;
}

/*---------------------  section_features --------------------*/

.features {
	background-color: #f4f4f4;
}

.features h1 {
	color: #8d81ac;
	font-family: Montserrat;
	font-size: 48px;
	font-weight: 700;
	line-height: 20px;
}

.features h3 {
	color: #323232;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
}

.features p {
	color: #848e97;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

/*---------------------  section_social --------------------*/

.author {
	color: #635c73;
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
}

.author span {
	color: #8d81ac;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
}

.peremotka p {
	font-family: SourceSansPro;
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	color: #333;
}

.peremotka p span{
	color: #8d81ac;
}

.soc_seti a {
	color: black;z
	font-family: Montserrat;
	font-size: 21px;
	font-weight: 400;
	line-height: 32px;
}

.soc_seti span {
	color: #848e97;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 32px;
}

.soc_seti button {
	background-color: #f3f3f3;
	border-radius: 4px;
}

/*---------------------  section_fork --------------------*/

.fork {
	background-image: url('../img/background5.png');
	background-size: cover;
	text-align: center;
}

.fork h1 {
	color: white;
	font-family: Montserrat;
	font-size: 48px;
	font-weight: 700;
	line-height: 20px;
}

.fork p {
	color: white;
	font-family: SourceSansPro;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}


/*---------------------  section_subscription --------------------*/

.subscription h1 {
	color: white;
	font-family: Montserrat;
	font-size: 48px;
	font-weight: 700;
	line-height: 20px;
}

.subscription h2 {
	
}

/*---------------------  section_header --------------------*/
/*---------------------  section_header --------------------*/
/*---------------------  section_footer --------------------*/

footer {
	
}

footer p {
	color: #848e97;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

footer h2 {
	color: #323232;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}

footer nav ul li a {
	color: #8d81ac;
	font-size: 15px;
	font-weight: 400;
	line-height: 23px;
}

.adress frst{
	
}
